@import url(https://fonts.googleapis.com/css?family=Cookie|Montserrat|Roboto+Slab|Vollkorn);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  /* transition: all 0.5s ; */
}

a {
  text-decoration: none;
  color: #fff;
}

/* Header */
.container {
  width: 100%;
  height: 100vh;
  height: 700px;
  overflow: hidden;
  background: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(106, 104, 245, 0.23)), url(./images/website_crouserl2.jpg) no-repeat;
  position: relative;
  background-size: cover;
}

.navbar {
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 2;
  transition: all 0.5s;
}

.navbar_sticky {
  background: royalblue;
}

.navbar .logo a {
  font-family: 'Cookie', cursive;
  font-size: 45px;
  font-weight: bold;
  line-height: 80px;
  color: #f3f9fa;
  padding: 0 80px;
}

.navbar ul {
  list-style: none;
  float: right;
  font-size: 22px;
  margin-right: 20px;
}

.navbar ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

.navbar ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

.navbar ul li a:hover,
.navbar ul li a.active {
  background: #1b9bff;
  transition: 0.5s all;
}

.checkbtn {
  font-size: 30px;
  color: white;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  float: right;
  display: none;
}

#check {
  display: none;
}

.crousal {
  width: 100%;
  height: 600px;
  padding: 100px 50px;
  /* border: solid;  */
}

.crousal1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.crousal1 p {
  font-family: 'Vollkorn', serif;
  font-style: italic;
  font-size: 45px;
  color: white;
  margin-top: 17px;
  line-height: 2;

}

.crousal1 .h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 75px;
  color: white;
  text-transform: uppercase;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: -65px;
  margin-bottom: 35px;
}

.info_button {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: white;
  text-align: center;
  padding: 15px 12px;
  background: #3686fe;
  border-radius: 5px;
  border: none;
  transition: all 0.5s;
}

 .info_button:hover {
  background: #3686feab;
  cursor: pointer;

}


@media only screen and (max-width:910px) {
  .navbar {
    position: fixed;
    z-index: 100;
  }

  label.logo {
    font-size: 30px;
  }

  .navbar ul li a {
    font-size: 16px;
    margin-top: 10px;
  }

  .checkbtn {
    display: block;
  }

  .navbar ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #2c3e50;
    top: 75px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }

  .navbar ul li {
    display: block;
  }

  .navbar ul li a {
    font-size: 20px;
  }

  .navbar ul li a:hover,
  .navbar ul li a.active {
    background: none;
    color: #1b9bff;
  }

  #check:checked~ul {
    display: block;
    left: 0;
  }

 
}


@media only screen and  (max-width:590px) {
 .crousal1 .h1{
    font-size: 55px;
    margin-bottom: 0;
  } 
  .navbar .logo a{
    padding: 0 20px;
  }
}
/* Header */




/* servies*/

.services {
  width: 100%;
  height: auto;
  text-align: center;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 120px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.block_text {
  font-family: 'Vollkorn', serif;
  font-style: italic;
  font-size: 20px;
  text-align: center;
  color: #777777;
  margin-top: 0px;
  margin-bottom: 15px;
}

.services {
  text-align: center;
}

.our_services {
  box-sizing: border-box;
  display: inline-block;
  max-width: 1040px;
  margin-top: 0px;
  margin-bottom: 110px;
}

.our_services div {
  display: inline-block;
  width: 30%;
  margin-left: 10px;
  padding: 20px;
  border-radius: 20px;
  transition: 0.5s all;
  transform: translateY(0);
}

.our_services div:hover {
  transform: translateY(10px);
  box-shadow: 0 0 10px black;

}

.title_services {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
}

.text_services {
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  text-align: center;
  color: #777777;
}
@media only screen and  (max-width:590px) {
  .our_services div{
    width: 80%;
  }
}
/* Servies*/


/* Portfolio */

.portfol {
  width: 100%;
  height: auto;
  background-color: #f7f7f7;
  text-align: center;
}

.items_port {
  max-width: 1040px;
  text-align: center;
  margin-top: 65px;
  margin-bottom: 120px;
  margin: auto;
}

.port_block {
  display: inline-block;
  background-color: white;
  margin-bottom: 50px;
  width: 290px;
  margin-right: 10px;
  width: 30%;
  border-radius: 20px;
  overflow: hidden;
  transition: 0.5s all;
  transform: translateY(10px);
}

.port_block:hover {
  transform: translateY(0);
  box-shadow: 0 0 15px darkslategray;

}

.port_img {
  box-sizing: border-box;
  display: inline-block;
  width: 290px;
  height: 300px;
}

.ebony {
  background: url(https://image.ibb.co/fHGYnR/portfolio_1_min.jpg) no-repeat;
  background-position-x: center;
  width: 100%;
  height: 100%;
}

.smart {
  background: url(https://image.ibb.co/j3a4u6/portfolio_2_min.jpg) no-repeat;
  width: 100%;
  height: 100%;
}

.clever {
  background: url(https://image.ibb.co/ewFR7R/portfolio_3_min.jpg) no-repeat;
  width: 100%;
  height: 100%;
}

.vinyl {
  background: url(https://image.ibb.co/kccju6/portfolio_4_min.jpg) no-repeat;
  width: 100%;
  height: 100%;
}

.tree {
  background: url(https://image.ibb.co/cBPm7R/portfolio_5_min.jpg) no-repeat;
  width: 100%;
  height: 100%;
}

.burn {
  background: url(https://image.ibb.co/n08qZ6/portfolio_6_min.jpg) no-repeat;
  width: 100%;
  height: 100%;
}

.port_name {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 2px;
}

.port_info {
  font-family: 'Vollkorn', serif;
  font-style: italic;
  font-size: 17px;
  text-align: center;
  color: #737373;
  margin-top: 2px;
  margin-bottom: 26px;
}

@media only screen and (max-width:590px) {
  .port_block {
    width: 80%;
  }
}

/* Portfolio */


/* About us*/

.about {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
}

.about-header {
  margin-bottom: 80px;
}

.about-body {
  display: flex;
  /* padding: 0 60px ; */
  justify-content: space-evenly;
}

.about_items {
  box-sizing: border-box;
  text-align: center;
  width: 100%;
}

hr {
  height: 93px;
  width: 2px;
  color: #f1f1f1;
  border: 1px solid #f1f1f1;
}

.text {
  display: inline-block;
  margin-right: 38px;
  margin-left: 38px;
  max-width: 308px;
}

.odd p {
  text-align: right;
}

.even p {
  text-align: left;
}

.about_title {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 18px;
  margin-top: 0;
}

.about_text {
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  color: #777777;
}

.about_circle {
  box-sizing: border-box;
  display: inline-block;
  width: 11.31em;
  height: 11.31em;
  border-radius: 50%;
  border: 6px solid #f1f1f1;
  vertical-align: top;
}

.july {
  background: url(https://image.ibb.co/j5VXgm/about_us1_min.jpg);
  position: absolute;
  margin: auto;
}

.jan {
  background: url(https://image.ibb.co/m8CdMm/about_us2_min.jpg);
}

.dec {
  background: url(https://image.ibb.co/gRsHE6/about_us3_min.jpg);
  position: absolute;
  margin: auto;
}

.feb {
  background: url(https://image.ibb.co/nPcEWm/about_us4_min.jpg);

}

.story {

  background-color: #fed136;
  text-align: center;
  margin-bottom: 120px;
}

.story p {
  max-width: 108px;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: white;
  text-transform: uppercase;
  padding-top: 22px;
  line-height: 27px;
}

/* About us */


/* Team */

.team {
  width: 100%;
  height: auto;
  margin: auto;
  background-color: #f7f7f7;
  box-sizing: border-box;
  text-align: center;
  padding:0 100px;
}

.team_item {
  display: inline-block;
  width: 32%;
  border-radius: 20px;
  margin-right: 10px;
  transition: all 0.5s ;
  transform: translateY(10px);
  overflow: hidden;
}
.team_item:hover,
.team_item.activet
{
  transform: translateY(0);
  box-shadow: 0 0 20px blue;

}

.foto {
  display: inline-block;
  width: 13.75em;
  height: 13.75em;
  border-radius: 50%;
  background:url(./images/woman_team_img.png);
  background-size: cover;
  border: 6px solid white;
}
.foto2{
  display: inline-block;
  width: 13.75em;
  height: 13.75em;
  border-radius: 50%;
  background: url(./images/male_team_img.png);
  background-size: cover;
}

.name {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 16px;
  margin-top: 19px;
  margin-bottom: 8px;
}

.info_team {
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  color: #777777;
  margin-top: 8px;
  margin-bottom: 15px;
}


/*social nets*/

.social {
  box-sizing: border-box;
  text-align: center;
}

.social div {
  box-sizing: border-box;
  text-align: center;
  display: inline-block;
}

.twitter {
  width: 41px;
  height: 41px;
  background: url(https://image.ibb.co/d04bU6/twitter_min.png) 0 0px;
}

.twitter:hover {
  width: 41px;
  height: 41px;
  background: url(https://image.ibb.co/hNd396/twitter_h_min.png) 0 -41px;
}

.facebook {
  width: 41px;
  height: 41px;
  background: url(https://image.ibb.co/ccjbU6/1_min.png) 0 0px;
}

.facebook:hover {
  width: 41px;
  height: 41px;
  background: url(https://image.ibb.co/dyki96/facebook_h_min.png) 0 -41px;
}

.pint {
  width: 41px;
  height: 41px;
  background: url(https://image.ibb.co/kbubU6/2_min.png) 0 0px;
}

.pint:hover {
  width: 41px;
  height: 41px;
  background: url(https://image.ibb.co/esXkNR/pint_h_min.png) 0 -41px;
}

.google {
  width: 41px;
  height: 41px;
  background: url(https://image.ibb.co/cQebU6/3_min.png) 0 0px;
}

.google:hover {
  width: 41px;
  height: 41px;
  background: url(https://image.ibb.co/eE8396/google_h_min.png) 0 -41px;
}

.team_text {
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  color: #777777;
  margin-top: 50px;
  padding-bottom: 120px;
}

/*sixth block friends*/
.friend {
  width: 100%;
  height: auto;
  text-align: center;
}

.friend img {
  padding-left: 38px;
  margin-top: 60px;
  margin-bottom: 60px;
}
@media only screen and  (max-width:910px) {
  .team{
    padding: 10px;
  }
.team_item{
width: 45%;
}
.foto{
  /* width: auto; */
}
}

@media only screen and (max-width:590px){
  .team_item{

    width: 80%;
  }
}

/* Team */



/* Contact us*/

.contact_us {
  width: 100%;
  /* height: auto; */
  text-align: center;
  background-color: rgba(0, 0, 0, 0.863);
  background-image: url(https://image.ibb.co/h18OsR/image.png);
  background-position: 100% 200%;
}

.contact_us h2 {
  color: white;
  padding-top: 120px;
}

.input_fields {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  margin-right: 28px;
  margin-bottom: 30px;
  margin-top: 58px;
}

.input_fields input {
  width: 455px;
  height: 50px;
  padding: 0 10px;
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: black;
  border: 1px solid #cccccc;
  border-radius: 2px;
  margin-bottom: 27px;
}

.messagebox {
  display: inline-block;
  width: 300px;
  height: 213px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: black;
  vertical-align: top;
  border: 1px solid #cccccc;
  border-radius: 2px;
  padding: 0 10px;
  margin-top: 58px;
}

.contact_us .info_button {
  margin-bottom: 114px;
  padding: 10px;
}
@media only screen and (max-width:920) {
 .messagebox{
   width: auto;
  }
}
@media only screen and  (max-width:590px) {
  .input_fields input{
    width: auto;
  }
 
}

/* Contact us*/



/*footer*/

footer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.copyr {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #555555;
  line-height: 41px;
  margin-right: 124px;
  margin-left: 230px;
  display: inline-block;
}

.social {
  margin-top: 19px;
  margin-bottom: 30px;
  display: inline-block;
}



.icon {
  margin-left: 0;
  margin-right: 5px;
}

.social .icon:last-child {
  margin: 0;
}

.foot_twitter {
  width: 41px;
  height: 41px;
  background: url(https://image.ibb.co/fEGRxR/tw_min.png) 0 0px;
}

.foot_twitter:hover {
  width: 41px;
  height: 41px;
  background: url(https://image.ibb.co/hNd396/twitter_h_min.png) 0 -41px;
}

.foot_facebook {
  width: 41px;
  height: 41px;
  background: url(https://image.ibb.co/f3PeHR/f_min.png) 0 0px;
}

.foot_facebook:hover {
  width: 41px;
  height: 41px;
  background: url(https://image.ibb.co/dyki96/facebook_h_min.png) 0 -41px;
}

.foot_pint {
  width: 41px;
  height: 41px;
  background: url(https://image.ibb.co/egqx46/p_min.png) 0 0px;
}

.foot_pint:hover {
  width: 41px;
  height: 41px;
  background: url(https://image.ibb.co/esXkNR/pint_h_min.png) 0 -41px;
}

.foot_google {
  width: 41px;
  height: 41px;
  background: url(https://image.ibb.co/kqfarm/g_min.png) 0 0px;
}

.foot_google:hover {
  width: 41px;
  height: 41px;
  background: url(https://image.ibb.co/eE8396/google_h_min.png) 0 -41px;
}



::-webkit-scrollbar {
  width: 0;
}

#ScrollPath {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  height: 100vh;
  background: rgba(255, 255, 255, 0.05);
}

#Progressbar {
  z-index: 1;
  position: fixed;
  width: 10px;
  height: 100vh;
  top: 0;
  right: 0;
  height: 100vh;
  background: linear-gradient(to top, #008aff, #00ffe7);
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0% {
    filter: hue-rotate(0deg);
  }

  50% {
    filter: hue-rotate(360deg);
  }
}

#Progressbar::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 100vh;
  background: linear-gradient(to top, #008aff, #00ffe7);
  filter: blur(10px);
}

#Progressbar::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 100vh;
  filter: blur(30px);
  background: linear-gradient(to top, #008aff, #00ffe7);
}